[Unit]
Description=Service in charge of monitoring Mes Aides webserver
StartLimitBurst=10

[Service]
User={{ server_user_name }}
Group={{ server_user_group }}
WorkingDirectory={{ monitor_folder }}
ExecStart=/usr/bin/node {{ monitor_filename }}
ExecReload=/bin/kill -HUP $MAINPID
Environment="PORT={{ monitor.port }}"
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target