location /favicon.ico {
  rewrite ^.*$ /img/favicon/favicon.ico;
}

location ~ ^/(fonts|js|styles) {
  # This is needed so that PDF rendering works
  add_header Access-Control-Allow-Origin *;
  access_log off;
  expires 1y;
  add_header Cache-Control private;
  try_files /dist$uri =404;
}

location ~ ^/(img|documents) {
  # This is needed for stats
  add_header Access-Control-Allow-Origin *;
  access_log off;
  expires 5m;
  add_header Cache-Control private;
  try_files /dist$uri =404;
}
