#jinja2: trim_blocks: True, lstrip_blocks: True
apps:
  - name: {{ item.name }}-node-server
    cwd: /home/main/{{ item.name }}/repository/
    script: dist-server/backend/server.js
    instances: {{ item.node_instance_number }}
    exec_mode: cluster
    merge_logs: true
    env:
{% if item.https %}
      MES_AIDES_ROOT_URL: https://{{ item.domain }}
      OPENFISCA_PUBLIC_ROOT_URL: https://openfisca.{{ item.domain }}
{% else %}
      MES_AIDES_ROOT_URL: http://{{ item.domain }}
      OPENFISCA_PUBLIC_ROOT_URL: http://openfisca.{{ item.domain }}
{% endif %}
      MONGODB_URL: mongodb://127.0.0.1/db_{{ item.name }}
      NODE_ENV: production
      OPENFISCA_INTERNAL_ROOT_URL: http://127.0.0.1:{{ item.openfisca_server_port }}
      OPENFISCA_TRACER_URL: https://openfisca.github.io/tracer
      PORT: {{ item.node_server_port }}
